<div class="dropdown_menu icon_drop" style="margin-top:5px;">
  <li class="dropdown" style="list-style: none; float:right;">
    <a href="#" class="dropdown-toggle dropdown_button save-new-btn1" data-toggle="dropdown" >Actions <span class="caret"></span></a>
    <ul class="dropdown-menu edit_drop_menu" role="menu">
      <span class="arrow_action"></span>
      <li>
        
        <%if current_user.user_type=="admin"%>
          <i class="fa fa-legal"></i>
          <% if @quote_job.blank? && !@quote.property.client.blank? %>
            <%= link_to "Convert To Work Order", new_job_path(:quote_id=>@quote.id, :client_id=>@quote.property.client.id, :property_id=>@quote.property.id) ,:id=>"new_job",:class=>"has_icon"%>
          <% else %>
            <%= link_to "Create Another Work Order", new_job_path(:quote_id=>@quote.id, :client_id=>@quote.property.client.id, :property_id=>@quote.property.id) ,:id=>"new_job",:class=>"has_icon"%>
          <% end %>

        <%else%>
          <%if set_permission_for_quote_job_convert(@team_member)!="read"%>
            <i class="fa fa-legal"></i>
            <% if @quote_job.blank?%>
              <%= link_to "Convert To Work Order", new_job_path(:quote_id=>@quote.id, :client_id=>@quote.property.client.id, :property_id=>@quote.property.id) ,:id=>"new_job",:class=>"has_icon"%>
            <% else %>
              <%= link_to "Create Another Work Order", new_job_path(:quote_id=>@quote.id, :client_id=>@quote.property.client.id, :property_id=>@quote.property.id) ,:id=>"new_job",:class=>"has_icon"%>
            <% end %>
          <% end %> 
        <%end%>
      </li>
      
      <%if current_user.user_type=="admin"%>
        <li>
          <%=form_tag new_invoice_path, :method => "get" ,:id=>"generate_invoice" do %>
            <%= hidden_field_tag "quote_id",nil,:value=>@quote.id%>
            <i class="icon-edit"></i>
            <%= link_to "Generate Invoice","#",:onclick=>"$('#generate_invoice').submit();"%>
          <%end%>
        </li>
      <%end%>
 
      <li class="divider"></li>
        <Li><i class="fa fa-envelope"></i>
          <%= link_to email_link_name(@quote), email_action_path(email_send: 1, mail_by: 'quotes', id: params[:id]) , class: "has_icon", remote: true, id: "" %>
        </li>
      <li>
        <i class="icon-file"></i>
        <%= link_to "Download PDF",quote_pdf_path(:id=>@quote.id) ,:id=>"download_pdf",:class=>"has_icon", target: "_blank"%>
      </li>
      <li>
        <%if @quote.sent== false%>
          <i class="fa fa-envelope"></i>
          <%= link_to "Mark as Sent",quote_sent_path(:quote_id=>@quote.id) ,:id=>"mark_sent",:class=>"has_icon"%>
        <%elsif @quote.archive== false%>
          <i class="fa fa-archive"></i>
          <%= link_to "Archive Estimate",quote_archive_path(:quote_id=>@quote.id,:archive=>true) ,:id=>"archive",:class=>"has_icon"%>
        <%else%>
          <i class="fa fa-archive"></i>
          <%= link_to "Unarchive",quote_archive_path(:quote_id=>@quote.id) ,:id=>"archive",:class=>"has_icon"%>
        <%end%>
      </li>
      <li>
        <i class="fa fa-pencil"></i>
        <%= link_to "Collect Signature","#",:id=>"collect_signature",:class=>"has_icon",:'data-toggle'=>"modal" ,:'data-target'=>"#signature_model_quote"%>
      </li>
      <li>
        
        <%if current_user.user_type=="admin"%>
            <li><i class="fa fa-minus-circle"></i>
              <a rel="nofollow" id="" href="/quotes/<%=@quote.id%>" data-method="delete" data-confirm="Are you sure you want to delete this quote?" class="has_icon">Delete</a></li>
        <%else%>
          <%if set_view_permission_action_view_delete(@team_member.permission.permission_quotes)%>
            <li><i class="fa fa-minus-circle"></i>
              <a rel="nofollow" id="" href="/quotes/<%=@quote.id%>" data-method="delete" data-confirm="Are you sure you want to delete this quote?" class="has_icon">Delete</a></li>
          <%end%>
        <%end%>
      </li>
     
    </ul>
  </li>
</div>