
<p style="display:none;" class="description" id="client_view_warning">
  <b>NOTE:</b> These changes will be applied to all future Estimate. Existing Estimate must changed on an individual basis.
</p>
<br>

<p class="checkbox_holder">
  <input type="hidden" value="0" name="change_quote_to_estimate">
  <%if current_user.pdf_setting.blank? || current_user.pdf_setting.change_quote_to_estimate %>
    <%= check_box_tag 'change_quote_to_estimate', 'yes', true,:onclick=>"checkMarked(this.id,'quotes')" ,:value=>"1"%>
  <%else%>
    <%= check_box_tag 'change_quote_to_estimate', 'no', false,:onclick=>"checkMarked(this.id,'quotes')" ,:value=>"1"%>
  <%end%>
  <b for="pdf_settings_change_quote_to_estimate">Refer to 'Estimate' as 'Estimate' on PDF?</b>
</p>

<p class="checkbox_holder">
  <input type="hidden" value="0" name="quote_show_line_item_qty">
  <%if current_user.pdf_setting.blank? || current_user.pdf_setting.quote_show_line_item_qty %>
    <%= check_box_tag 'quote_show_line_item_qty', 'yes', true,:onclick=>"checkMarked(this.id,'quotes')" ,:value=>"1"%>
  <%else%>
     <%= check_box_tag 'quote_show_line_item_qty', 'no', false,:onclick=>"checkMarked(this.id,'quotes')" ,:value=>"1"%>
  <%end%>
  <b for="pdf_settings_quote_show_line_item_qty">Show QTY on line items?</b>  
</p>

<p class="checkbox_holder">
  <input type="hidden" value="0" name="quote_show_line_item_unit_costs">
  <%if current_user.pdf_setting.blank? || current_user.pdf_setting.quote_show_line_item_unit_costs%>
    <%= check_box_tag 'quote_show_line_item_unit_costs', 'yes', true,:onclick=>"checkMarked(this.id,'quotes')" ,:value=>"1"%>
  <%else%>
    <%= check_box_tag 'quote_show_line_item_unit_costs', 'no', false,:onclick=>"checkMarked(this.id,'quotes')" ,:value=>"1"%>
  <%end%>  

  <b for="pdf_settings_quote_show_line_item_unit_costs">Show unit cost on line items?</b>  
</p>

<p class="checkbox_holder">
  <input type="hidden" value="0" name="quote_show_line_item_total_costs">
  <%if current_user.pdf_setting.blank? || current_user.pdf_setting.quote_show_line_item_total_costs %>
    <%= check_box_tag 'quote_show_line_item_total_costs', 'yes', true,:onclick=>"checkMarked(this.id,'quotes')" ,:value=>"1"%>
  <%else%>
    <%= check_box_tag 'quote_show_line_item_total_costs', 'no', false,:onclick=>"checkMarked(this.id,'quotes')" ,:value=>"1"%>
  <%end%>  

  <b for="pdf_settings_quote_show_line_item_total_costs">Show total cost per line items?</b>
</p>

<p class="checkbox_holder">
  <input type="hidden" value="0" name="quote_show_totals">
  <%if current_user.pdf_setting.blank? || current_user.pdf_setting.quote_show_totals %>
    <%= check_box_tag 'quote_show_totals', 'yes', true,:onclick=>"checkMarked(this.id,'quotes')" ,:value=>"1"%>
  <%else%>
    <%= check_box_tag 'quote_show_totals', 'no', false,:onclick=>"checkMarked(this.id,'quotes')" ,:value=>"1"%>
  <%end%>  
  <b for="pdf_settings_quote_show_totals">Show totals &amp; tax in footer?</b>  
</p>

<p class="checkbox_holder">
  <input type="hidden" value="0" name="quote_client_signature">
  <%if current_user.pdf_setting.blank? || current_user.pdf_setting.quote_client_signature%>
    <%= check_box_tag 'quote_client_signature', 'yes', true,:onclick=>"checkMarked(this.id,'quotes')" ,:value=>"1"%>
  <%else%>
    <%= check_box_tag 'quote_client_signature', 'no', false,:onclick=>"checkMarked(this.id,'quotes')" ,:value=>"1"%>
  <%end%>  
  <b for="pdf_settings_quote_client_signature">Show client signature line?</b>
</p>

<p style="padding: 10px; border: 1px solid #ccc; clear:both; overfow-y:auto;">
  <b for="work_configuration_quote_contract" style="text-align: left;">
    Contract/Disclaimer</br>
  </b>
  <span class="description">This message will appear at the bottom of every Estimate</span>
  </p> 
  <%= text_area_tag "quote_contract" ,"This Estimate is valid for the next 30 days, after which values may be subject to change.",:rows=>"4",:style=>"width:98%;"%>
  