<div style="padding:0px 35px 0px 35px; line-height:25px;">
  <table class="table">
    <tbody>
      <% @users.each_with_index do |user, index| %>
          <tr>
            <td><%= index +=1 %></td>
            <%if !@team_member.blank?%>
              <td><%= user.full_name rescue "" %></td>
            <%else%>
              <td><%= user.full_name rescue "" %></td>
            <%end%>
            <td>
              <%if current_user.user_type == "admin"%>
                <%= link_to "Send Message", "#", class: "btn save-new-btn1 btn-xs start-conversation",
                          "data-sid" => current_user.id, "data-rip" => user.member_id %>
              <%else%>
                <%= link_to "Send Message", "#", class: "btn save-new-btn1 btn-xs start-conversation",
                          "data-sid" => current_user.id, "data-rip" => user.id %>
              <%end%>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
var ready = function () {

    /**
     * When the send message link on our home page is clicked
     * send an ajax request to our rails app with the sender_id and
     * recipient_id
     */

    $('.start-conversation').click(function (e) {
        e.preventDefault();

        var sender_id = $(this).data('sid');
        var recipient_id = $(this).data('rip');

        $.post("/chats", { sender_id: sender_id, recipient_id: recipient_id }, function (data) {
            chatBox.chatWith(data.conversation_id);
        });
    });

    /**
     * Used to minimize the chatbox
     */

    $(document).on('click', '.toggleChatBox', function (e) {
        e.preventDefault();

        var id = $(this).data('cid');
        chatBox.toggleChatBoxGrowth(id);
    });

    /**
     * Used to close the chatbox
     */

    $(document).on('click', '.closeChat', function (e) {
        e.preventDefault();

        var id = $(this).data('cid');
        chatBox.close(id);
    });


    /**
     * Listen on keypress' in our chat textarea and call the
     * chatInputKey in chat.js for inspection
     */

    $(document).on('keydown', '.chatboxtextarea', function (event) {

        var id = $(this).data('cid');
        chatBox.checkInputKey(event, $(this), id);
    });

    /**
     * When a conversation link is clicked show up the respective
     * conversation chatbox
     */

    $('a.conversation').click(function (e) {
        e.preventDefault();

        var conversation_id = $(this).data('cid');
        chatBox.chatWith(conversation_id);
    });


}

$(document).ready(ready);
$(document).on("page:load", ready);
</script>