<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
      <h4 class="modal-title" id="myModalLabel">Conversations</h4>
    </div>
    <div class="modal-body">
      <h3>
        Conversation subject: <%= conversation.subject %>
      </h3>
      <ul class="conversations-list">
        <%= content_tag_for(:li, conversation.receipts_for(current_user)) do |receipt| %>
          <% message = receipt.message %>
          <h4>
            <%= message.subject %>
          </h4>
          <p>
            <%= message.body %>
          </p>
        <% end %>
      </ul>
      <% if @message_type=="inbox"%>
        <%= render 'messages/form', conversation: conversation %>
      <%end%>  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
