<a data-value="1" href="#" class="calender-day <%= get_month_of_day(@repeat,1)%>">1</a>
<a data-value="2" href="#" class="calender-day <%= get_month_of_day(@repeat,2)%>">2</a>
<a data-value="3" href="#" class="calender-day <%= get_month_of_day(@repeat,3)%>">3</a>
<a data-value="4" href="#" class="calender-day <%= get_month_of_day(@repeat,4)%>">4</a>
<a data-value="5" href="#" class="calender-day <%= get_month_of_day(@repeat,5)%>">5</a>
<a data-value="6" href="#" class="calender-day <%= get_month_of_day(@repeat,6)%>">6</a>
<a data-value="7" href="#" class="calender-day <%= get_month_of_day(@repeat,7)%>">7</a>
<a data-value="8" href="#" class="calender-day <%= get_month_of_day(@repeat,8)%>">8</a>
<a data-value="9" href="#" class="calender-day <%= get_month_of_day(@repeat,9)%>">9</a>
<a data-value="10" href="#" class="calender-day <%= get_month_of_day(@repeat,10)%>">10</a>
<a data-value="11" href="#" class="calender-day <%= get_month_of_day(@repeat,11)%>">11</a>
<a data-value="12" href="#" class="calender-day <%= get_month_of_day(@repeat,12)%>">12</a>
<a data-value="13" href="#" class="calender-day <%= get_month_of_day(@repeat,13)%>">13</a>
<a data-value="14" href="#" class="calender-day <%= get_month_of_day(@repeat,14)%>">14</a>
<a data-value="15" href="#" class="calender-day <%= get_month_of_day(@repeat,15)%>">15</a>
<a data-value="16" href="#" class="calender-day <%= get_month_of_day(@repeat,16)%>">16</a>
<a data-value="17" href="#" class="calender-day <%= get_month_of_day(@repeat,17)%>">17</a>
<a data-value="18" href="#" class="calender-day <%= get_month_of_day(@repeat,18)%>">18</a>
<a data-value="19" href="#" class="calender-day <%= get_month_of_day(@repeat,19)%>">19</a>
<a data-value="20" href="#" class="calender-day <%= get_month_of_day(@repeat,20)%>">20</a>
<a data-value="21" href="#" class="calender-day <%= get_month_of_day(@repeat,21)%>">21</a>
<a data-value="22" href="#" class="calender-day <%= get_month_of_day(@repeat,22)%>">22</a>
<a data-value="23" href="#" class="calender-day <%= get_month_of_day(@repeat,23)%>">23</a>
<a data-value="24" href="#" class="calender-day <%= get_month_of_day(@repeat,24)%>">24</a>
<a data-value="25" href="#" class="calender-day <%= get_month_of_day(@repeat,25)%>">25</a>
<a data-value="26" href="#" class="calender-day <%= get_month_of_day(@repeat,26)%>">26</a>
<a data-value="27" href="#" class="calender-day <%= get_month_of_day(@repeat,27)%>">27</a>
<a data-value="28" href="#" class="calender-day <%= get_month_of_day(@repeat,28)%>">28</a>
<a data-value="29" href="#" class="calender-day <%= get_month_of_day(@repeat,29)%>">29</a>
<a data-value="30" href="#" class="calender-day <%= get_month_of_day(@repeat,30)%>">30</a>
<!-- <a data-value="31" href="#" class="calender-day">31</a> -->
<!-- <a  data-value="-1" class="end_of_month calender-day">Last Day</a> -->