<div class="modal fade" id="close_job_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header new-modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Incomplete Visits</h4>
      </div>
      <div class="modal-body">     
        <div class="content_job_visits">
          <div class="first">
            <p class="omega_bottom padding">
              This Work Order has:
            </p>
            <ul class="incomplete_list">
              <% @old=[] %>
              <% @new=[] %>
              <% @visit_jobs.each do |visit_job| %>
                <%if ((visit_job.try(:end_date) rescue 0 < get_date_today) || (visit_job.try(:start_date) rescue 0 < get_date_today)) %>
                  <% @old << visit_job %>
                <% else %>
                  <% @new << visit_job %>
                <% end %>
              <% end %>
              <li><strong><%= @old.count %> Past Incomplete Visit</strong></li>
              <li><strong><%=@new.count %> future Incomplete Visit</strong></li>
            </ul>
          </div>
          <div class="last">
            <p class="pad_bottom half">
              What would you like to do with your
              <strong>Incomplete Visit</strong>
            </p>
            <%= form_tag status_edit_job_path(@job),:method=>"post" do %>
              <table class="incomplete_visit">
                <tbody>
                  <tr>
                    <td><%= radio_button_tag :job_status, "remove"%></td>
                    <td><label for="decision">Remove All</label></td>
                  </tr>
                  <tr>
                    <td><%= radio_button_tag :job_status,"complete", :checked=>true %></td>
                    <td> <label for="decision">Mark All Complete</label></td>
                  </tr>
                </tbody>
              </table>
              <%= hidden_field_tag "job_id",@job.id%>
              <%= submit_tag "Close Job",:class=>"button save-new-btn1",:style=>"float:right; text-align:center;"%>
              <a class="button cancel pull-right" href="#" data-dismiss="modal">Cancel</a>
            <%end%>  
          </div>
        </div>     
      </div>
    </div>
  </div>
</div>