<%if !@clients.blank?%>
  <% @clients.reverse.each do |client| %> 
    <li>
      <div class="popover_user">
        <i class="fa fa-user fa-2"></i>
      </div>
      <div class="user_contain_search">

      <%if params[:action]=="work" %>
        <a href="/jobs/new?client_id=<%= client.id %>&job_create=job&work=work" class="row ">
      <%else%>
        <%if client.properties.count == 1 %>
          <a href="/jobs/new?property_id=<%= client.properties.first.id%>" class="row ">
        <%else%>
          <a href="/jobs/new?client_id=<%= client.id %>&job_create=job" class="row ">
        <%end%>
      <%end%>
        <h3 class="client_name individual">
          <%= client.initial rescue "" %>
          <%= client.first_name.titleize rescue "" %>
          <%= client.last_name.titleize rescue "" %>&nbsp;(<%=client.company_name.titleize rescue "" %>)
        </h3>
        <span style="display:inline-block; width:120px;"><%= client.properties.count rescue "" %> Property</span>
        <span><%= client.phone_number rescue "" %></span>
        <span class="last_active" style="float: right;">
          Activity &nbsp;<%= time_ago_in_words(client.created_at, include_seconds: true) rescue "" %>&nbsp; ago
        </span>
      
      </a>
    </div>
    </li>
  <% end %>
<% else %>
  No Customer present
<%end%>
