<p id="notice"><%= notice %></p>

<p>
  <strong>Ivr:</strong>
  <%= @key.ivr_id %>
</p>

<p>
  <strong>Digit:</strong>
  <%= @key.digit %>
</p>

<%= link_to 'Edit', edit_key_path(@key) %> |
<%= link_to 'Back', keys_path %>
