<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header new-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Lead Mailer</h4>
      </div>
      <div class="modal-body">
      	<% if !params[:properties].blank?%>
			   	<%if current_user.street.blank? && current_user.company.blank?%>
				   	<div style="width:100%">
				   		<p> Please first set this Address then use mailer through Lob API....</p>
				   		<div style="width:25%; float:left;">
					    	<%= link_to "Edit Profile",edit_user_registration_path,:class=>"button"%>
					  	</div>
					  	<div style="width:10%; float:left;">
					    	<p>OR</p>
					  	</div>
					    <div style="width:65%; float:right;">
					    	<%= link_to "company Address","/work_configuration/edit",:class=>"button"%>
					    </div>
				 		</div>
			   	<%elsif !current_user.company.blank? %>
			   		<%if current_user.company.street.blank?%>
			   			<%= link_to "company Address","/work_configuration/edit",:class=>"button"%>
			   		<%else%>

			   			<%= render "properties/post_card"%>
			   		<%end%>
			   	<%elsif !current_user.street.blank?%>	
			   		<%= render "properties/post_card"%>
			   	<%else%>
			   			<div style="width:100%"> 
					   		<div style="width:25%; float:left;">
						    	<%= link_to "Edit Profile",edit_user_registration_path,:class=>"button"%>
						  	</div>
						  	<div style="width:10%; float:left;">
						    	<p>OR</p>
						  	</div>
						    <div style="width:65%; float:right;">
						    	<%= link_to "company Address","/work_configuration/edit",:class=>"button"%>
						    </div>
					 		</div>
			   	<%end%>
		   	<%else%>
			   	<p style="border: 1px solid #ccc;padding: 15px;">
						Please select the clients whose postcards create
			   	</p>	
		   	<%end%>
		   	<div class="row text-right">
		    	<button type="button" class="model_cancel_button" data-dismiss="modal">CANCEL</button>
		    </div>
      </div>
    </div>
  </div>