<%@property.tags.each do |tag|%>
	<span class="removable_tag" tag_label="<%= tag.name%>">
	<%= tag.name%>
	 	<a value="<%=tag.name%>" class= "tags_pointer remove_tag" onclick='deletePropertyTag("<%=tag.name%>","<%=@property.id%>");'>x</a>
	</span>
<%end%>
