<%if !@clients.blank?%>
  <% @clients.reverse.each do |client| %> 
    <li>
      <div class="popover_user">
        <i class="fa fa-user fa-2"></i>
      </div>
      <div class="user_contain_search">
        <%if params[:action]=="work" %>
          <a href="/jobs/new?client_id=<%= client.id %>&job_create=job&work=work" class="row  spin_on_click" >
        <%else%>
          <a href="/jobs/new?client_id=<%= client.id %>&job_create=job" class="row  spin_on_click">
        <%end%>
          <h3 class="client_name individual">
            <%= client.initial %>
            <%= client.first_name.titleize %>
            <%= client.last_name.titleize %>&nbsp;(<%=client.company_name.titleize%>)
          </h3>
          <span style="display:inline-block; width:120px;"><%= client.properties.count%> Pool</span>
          <span><%= client.phone_number %></span>
          <span class="last_active" style="float: right;">
            Activity &nbsp;<%= time_ago_in_words(client.created_at, include_seconds: true)%>&nbsp; ago
          </span>
        </a>
      </div>
    </li>
  <% end %>
<% else %>
  No client present
<%end%>
