<div class="client_index">
  <div class="main_container">
    <div id="head">
      <h1>One Off Work Orders Report</h1>
    </div>
    <%= render "report_summary_time_picker", :locals => {:quotes_action => "jobs_report_summary"}%>
    <%= render "jobs_reoprt_summary"%>
    <a class="button_new_create" id="column_selector" href="#column_selector_model" data-toggle="modal" style="float: right; z-index: 9; margin-right:16px;"><span id = "column_selector_count"></span> Columns</a>
    <div id="jobs_report_summary">
  		<div class="tables" style="width: 98%; margin: 10px;">
        <table class="sortable wide" cellspacing="0" cellpadding="0" id="report_jobs">
          <thead class="thead">
            <tr>
              <th width="145px" class="created">Created</th>
              <th width="189px" class="client_name">Customer Name</th>
              <th width="257px" class="description" style="color:#fff;">Description</th>
              <th width="169px" class="scheduled">Scheduled</th>
              <th width="169px" class="completed">Completed</th>
              <th width="169px" class="hash">#</th>
              <th width="225px" class="visits_assigned_to">Visits Assigned To</th>
              <th width="92px" class="doller">$</th>
              <th width="92px" class="client_email">Customer Email</th>
              <th width="42px" class="open">Open</th>
            </tr>
          </thead>
          <% unless @jobs_summary.blank?%>
          	<% @jobs_summary.each_with_index do |job,i| %>
          	<tr> 
          		<td class="created"><%= job.created_at.strftime("%d-%m-%Y")%></td>
          		<td class="client_name"><%= job.property.client.first_name %> &nbsp;<%= job.property.client.last_name %></td>
              <td class="description"><%= job.description%></td>
              <td class="scheduled"><%= job.start_date%></td>
              <td class="completed"><%= job.start_date%></td>
              <td class="hash"><%= job.id%></td>
              <td class="visits_assigned_to"><%= get_crew(job.crew) %></td>
              <td class="doller"><%= get_one_off_total(job)%></td>
              <td class="client_email"><%= job.property.client.emails.first.email.first rescue ""%></td>
              <td class="open"><a target="_blank" href="/jobs/<%=job.id%>" class="open ui-icon ui-icon-newwin">open</a></td>
            </tr>  
          	<% end %>
          <%end%> 
        </table>
      </div>
    </div>     
  </div>
</div>
<%= render "services_and_work_reports_column_edit"%>
<script type="text/javascript">
  table_sort_function()
  table_column_select()
</script>