<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header new-modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= params[:action]=="edit" ? "Edit" : "Upcoming" %> Events</h4>
      </div>
      <div class="modal-body">
        <div class="content">
          <%= form_for(@event, html:{remote: true})  do |f| %>
            <div class="row">
              <div class="span3" id="popover_left">
                <p>
                  <%= f.label :title%>
                  <%= f.text_field :title %>
                </p>
                <div id="to_do_scheduler">
                  <p>
                    <%= f.label :all_day %>
                    <%= f.check_box :all_day %>
                  </p>    
                  <p>
                    <label for="to_do_start_at_date">Start at</label>
                    <%= f.text_field :start_date, class:"datepicker",:style=>"width:33%;", value: @start_at.strftime("%Y-%m-%d") %>
                    <span class="input-append toggle-append bootstrap-timepicker" style="width:30%;">
                      <%= f.text_field :start_time, class:"time",:style=>"display:none; width:85%;margin-left:3%;"%>
                    </span>
                  </p>  
                  <p>
                   <label for="to_do_start_at_date">End at</label>
                    <%= f.text_field :end_date, class:"datepicker",:style=>"width:33%;", value: @end_at.strftime("%Y-%m-%d") %>    
                    <span class="input-append toggle-append bootstrap-timepicker" style="width:30%;">
                      <%= f.text_field :end_time, class:"time",:style=>"display:none; width:85%;margin-left:3%;"%>
                    </span>
                  </p> 
                </div>  
              </div>
            </div>  
            <div class="row"> 
              <%= f.label :description %>
              <%= f.text_area :description ,:rows=>"4", :placeholder=>"details...",:style=>"width:98%;" %>    
             </div>
             <div class="row">
              <p class="submit_holder">
                <div class="">
                  <%= f.submit "Save Changes", :class=>"model_save_button save-new-btn1", onclick:"$('#myModal').modal('hide');"%>
                  <button type="button" class="model_cancel_button pull-right" data-dismiss="modal">Close</button> 
                   
                </div>
              </p>
             </div> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $("#event_all_day").click(function(){
    $(".time").toggle()
  });   
});
$(".time").timepicker()
$(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' })

</script>

<style>
  .time{width:70px;}
</style>