<link rel="stylesheet" type="text/css" href="../assets/calender.css" />
<link href='../assets/calendar/lib/fullcalendar.print.css' rel='stylesheet' media='print' />
<link href='../assets/calendar/lib/fullcalendar.min.css' rel='stylesheet' />
<link href='../assets/calendar/scheduler.min.css' rel='stylesheet' />
<script src='../assets/calendar/lib/moment.min.js'></script>
<script src='../assets/calendar/lib/fullcalendar.min.js'></script>
<script src='../assets/calendar/scheduler.min.js'></script>
<div class="client_index">
  <div class="main_container">
    <%= render "clients/error_message_and_flash" %>
    <%= render "event_action"%>
    <div id="unscheduled" class="">
      <h3 id="unscheduled_header" class="thead title2-font">Unscheduled Tasks &amp; Work Order</h3>
      <div>
        <div id="unscheduled_list" class="ui-droppable">
          <%= render "unscheduled_task"%>
        </div>
      </div>
    </div>
    <div class='calender' id='calendar'></div>
  </div>
</div>

<div id="myModalBox"></div>
<div class="modal fade" id="calender_task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;" data-backdrop="static" data-keyboard="false"></div>
<div class="modal fade" id="edit_calender_task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;" data-backdrop="static" data-keyboard="false"></div>
<!-- Modal start-->
<div class="modal fade" id="assigned_visit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="display:none;"></div>
<div class="modal fade" id="edit_visit_plan_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;" data-backdrop="static" data-keyboard="false"></div>

<style type="text/css">
#external-events .fc-event{
  background-color: #fff !important;
}
.fc-license-message{
  display: none;
}
.fc-ltr .fc-basic-view .fc-day-number {
  text-align: left;
}
</style>
<script>
 $(function() { // document ready
  var monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];
    /* initialize the external events
    -----------------------------------------------------------------*/

    $('#external-events .fc-event').each(function() {
      // store data so the calendar knows to render an event upon drop
      $(this).data('event', {
        title: $.trim($(this).text()), // use the element's text as the event title
        stick: true // maintain when user navigates (see docs on the renderEvent method)
      });

      // make the event draggable using jQuery UI
      $(this).draggable({
        zIndex: 999,
        revert: true,      // will cause the event to go back to its
        revertDuration: 0  //  original position after the drag
      });

    });
    $('#external-events .fc-visit').each(function() {
      // store data so the calendar knows to render an event upon drop
      $(this).data('event', {
        title: $.trim($(this).text()), // use the element's text as the event title
        stick: true // maintain when user navigates (see docs on the renderEvent method)
      });

      // make the event draggable using jQuery UI
      $(this).draggable({
        zIndex: 999,
        revert: true,      // will cause the event to go back to its
        revertDuration: 0  //  original position after the drag
      });

    });

    /* initialize the calendar
    -----------------------------------------------------------------*/
    $('#calendar').fullCalendar({
      now: new Date(),
      editable: true, // enable draggable events
      droppable: true, // this allows things to be dropped onto the calendar
      aspectRatio: 1.8,
      scrollTime: '00:00', // undo default 6am scrollTime
      minTime: "11:00:00",
      maxTime: "20:00:00",
      header: {
        left: 'today prev,next',
        center: 'title',
        right: 'timelineDay,timelineThreeDays,agendaWeek,month'
      },
      defaultView: 'month',
      views: {
        timelineThreeDays: {
          type: 'timeline',
          duration: { days: 3 }
        }
      },
      resourceLabelText: 'Users',
      resources:  <%=raw @users.to_json%>,
      events: <%=raw @basic_tasks%>,
      eventReceive: function(event) { // called when a proper external event is dropped
        console.log('eventReceive', event);
        var start = event.start._d;
        var end = event.start._d;
        var event_type = "task_event"
        if ($("#"+event._id).hasClass("job_event") == true){
         event_type = "job_event"
        }
        unscheduledEvent(event,start,end,event_type)
        $(".popover-markup").css("display","none");
      },
      eventRender: function(event, element){
        $("#current_date").html( $("#calendar").find('span.fc-header-title h2').text());
        element.popover({
          placement: 'right',
          trigger : 'click',
          animation : 'true',
          content: event.message,
          html: true,
          container: 'body'
        });
        $(element).css('height','20px');
        $(element).css('text-decoration', event.task_css);
        $(element).css('border-color', event.ecolor);
      },
      dayClick: function (date, allDay, event, view) {
        if((allDay.pageX)/100>11){align='left'}else{align='right'}
        if (event.name=="month") {
          date1 = this.data('date')
          div = $(this).parents('.fc-row.fc-week.fc-widget-content').find('.fc-content-skeleton thead tr').find('td[data-date='+date1+']')
          d = new Date(date1);
          $(div).popover({
            placement: align,
            trigger : 'click',
            animation : 'true',
            <%if current_user.user_type == "admin" %>
              content: '<div class="innerFrame click_ignore"><div class="header"><div class="title"> Add to '+ monthNames[d.getMonth()] + " "+d.getDate() + '</div></div><div class="content"><div class="dropdown_menu icon_drop"><ul class="new_list" id="calender_popover"><li><i class="fa fa-check-square-o"></i><a href="/basic_tasks/to_dos?todo[start_at]='+date._d+'&todo[end_at]='+date._d+'&todo[all_day]=true&todo[plugin_type]=basic_task" id="new_to_do" class="spin_on_click has_icon click_ignore" data-remote="true">New Basic Task</a></li><li><i class="fa fa-calendar"></i><a href="/events/to_dos?todo[start_at]='+date._d+'&todo[end_at]='+date._d+'&todo[all_day]=true&todo[plugin_type]=event" id="new_calendar_event" class="spin_on_click has_icon click_ignore" data-remote="true">New Event</a></li><li><i class="fa fa-legal"></i><a href="/events/new_job_event?todo[start_at]='+date._d+'" id="new_job" class="spin_on_click has_icon click_ignore" data-remote="true">New Job</a></li></ul></div></div></div>',
              html: true,
              container: 'body'
            <%else%>
              content: '<div class="innerFrame click_ignore"><div class="header"><div class="title"> Add to '+ monthNames[d.getMonth()] + " "+d.getDate() + '</div></div><div class="content"><div class="dropdown_menu icon_drop"><ul class="new_list" id="calender_popover"><li><i class="fa fa-check-square-o"></i><a href="/basic_tasks/to_dos?todo[start_at]='+date._d+'&todo[end_at]='+date._d+'&todo[all_day]=true&todo[plugin_type]=basic_task" id="new_to_do" class="spin_on_click has_icon click_ignore" data-remote="true">New Basic Task</a></li><li><i class="fa fa-legal"></i><a href="/events/new_job_event?todo[start_at]='+date._d+'" id="new_job" class="spin_on_click has_icon click_ignore" data-remote="true">New Job</a></li></ul></div></div></div>',
              html: true,
              container: 'body'
            <%end%>
          });
          $('.popover.in').remove();
          $(div).popover('show');
        }
        else if (event.name == "agendaWeek")
          {
            $(this).popover({
              placement: align,
              trigger : 'click',
              animation : 'true',
              <%if current_user.user_type == "admin" %>
                content: '<div class="innerFrame click_ignore"><div class="header"><div class="title">'+event.title+'</div></div><div class="content"><div class="dropdown_menu icon_drop"><ul class="new_list" id="calender_popover"><li><i class="fa fa-check-square-o"></i><a href="/basic_tasks/to_dos?todo[start_at]='+date._d+'&todo[end_at]='+date._d+'&todo[all_day]=true&todo[plugin_type]=basic_task" id="new_to_do" class="spin_on_click has_icon click_ignore" data-remote="true">New Basic Task</a></li><li><i class="fa fa-calendar"></i><a href="/events/to_dos?todo[start_at]='+date._d+'&todo[end_at]='+date._d+'&todo[all_day]=true&todo[plugin_type]=event" id="new_calendar_event" class="spin_on_click has_icon click_ignore" data-remote="true">New Event</a></li><li><i class="fa fa-legal"></i><a href="/events/new_job_event?todo[start_at]='+date._d+'" id="new_job" class="spin_on_click has_icon click_ignore" data-remote="true">New Job</a></li></ul></div></div></div>',
                html: true,
                container: 'body'
              <%else%>
                content: '<div class="innerFrame click_ignore"><div class="header"><div class="title">'+event.title+'</div></div><div class="content"><div class="dropdown_menu icon_drop"><ul class="new_list" id="calender_popover"><li><i class="fa fa-check-square-o"></i><a href="/basic_tasks/to_dos?todo[start_at]='+date._d+'&todo[end_at]='+date._d+'&todo[all_day]=true&todo[plugin_type]=basic_task" id="new_to_do" class="spin_on_click has_icon click_ignore" data-remote="true">New Basic Task</a></li><li><i class="fa fa-legal"></i><a href="/events/new_job_event?todo[start_at]='+date._d+'" id="new_job" class="spin_on_click has_icon click_ignore" data-remote="true">New Job</a></li></ul></div></div></div>',
                html: true,
                container: 'body'
              <%end%>
            });
            $('.popover.in').remove();
            
            $(this).popover('show');
          }   
        else
        {
            $(this).children().popover({
              placement: align,
              trigger : 'click',
              animation : 'true',
              <%if current_user.user_type == "admin" %>
                content: '<div class="innerFrame click_ignore"><div class="header"><div class="title">'+event.title+'</div></div><div class="content"><div class="dropdown_menu icon_drop"><ul class="new_list" id="calender_popover"><li><i class="fa fa-check-square-o"></i><a href="/basic_tasks/to_dos?todo[start_at]='+date._d+'&todo[end_at]='+date._d+'&todo[all_day]=true&todo[plugin_type]=basic_task" id="new_to_do" class="spin_on_click has_icon click_ignore" data-remote="true">New Basic Task</a></li><li><i class="fa fa-calendar"></i><a href="/events/to_dos?todo[start_at]='+date._d+'&todo[end_at]='+date._d+'&todo[all_day]=true&todo[plugin_type]=event" id="new_calendar_event" class="spin_on_click has_icon click_ignore" data-remote="true">New Event</a></li><li><i class="fa fa-legal"></i><a href="/events/new_job_event?todo[start_at]='+date._d+'" id="new_job" class="spin_on_click has_icon click_ignore" data-remote="true">New Job</a></li></ul></div></div></div>',
                html: true,
                container: 'body'
              <%else%>
                 content: '<div class="innerFrame click_ignore"><div class="header"><div class="title">'+event.title+'</div></div><div class="content"><div class="dropdown_menu icon_drop"><ul class="new_list" id="calender_popover"><li><i class="fa fa-check-square-o"></i><a href="/basic_tasks/to_dos?todo[start_at]='+date._d+'&todo[end_at]='+date._d+'&todo[all_day]=true&todo[plugin_type]=basic_task" id="new_to_do" class="spin_on_click has_icon click_ignore" data-remote="true">New Basic Task</a></li><li><i class="fa fa-legal"></i><a href="/events/new_job_event?todo[start_at]='+date._d+'" id="new_job" class="spin_on_click has_icon click_ignore" data-remote="true">New Job</a></li></ul></div></div></div>',
                html: true,
                container: 'body'
              <%end%>
            });
            $('.popover.in').remove();
            
            $(this).children().popover('show');
        } 
               
        
        $('.popover').css('left',allDay.pageX +'px');
        $('.popover').css('top', allDay.pageY +'px');
        $('.popover').addClass('basic_task');
        $('.arrow').attr('style', 'top: 6%');
        
      },
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: <%=raw @basic_tasks%>,
      eventColor: 'white',
      eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) { // called when an event (already on the calendar) is moved
        if (event.id != undefined){
          moveEvent(event, dayDelta,allDay); 
        }
        console.log('eventDrop', event);
      }
    });
  });

  $('body').on('click', function (e) {
    $('[data-toggle=popover]').each(function () {
      // hide any open popovers when the anywhere else in the body is clicked
      if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
        $(this).popover('hide');
      }
    });
  });

</script>