<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Custom Vendor list</h4>
		</div>
		<div class="modal-body">
			<%if !@vendors.blank?%>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Type</th>
							<th>Name</th>
							<th>Location Name</th>
							<th>Address</th>
							<th>City</th>
							<th>State</th>
							<th>Zip</th>
							<th>Phone</th>
							<th>Source</th>
							<th colspan="2"> Action</th>
						</tr>
					</thead>
					<% @vendors.each do |vendor|%>
						<tr>
							<td><%= vendor.vendor_type%></td>
							<td><%= vendor.name%></td>
							<td><%= vendor.location_name%></td>
							<td><%= vendor.street%></td>
							<td><%= vendor.city%></td>
							<td><%= vendor.state%></td>
							<td><%= vendor.zipcode%></td>
							<td><%= vendor.phone%></td>
							<td><%= vendor.source%></td>
							<td><%= link_to "Edit",edit_vendor_path(vendor) %></td>
							<td><%= link_to 'Delete',url_for(action: :destroy,id: vendor.id),method: :delete, data: {confirm: "Are you sure?"} %></td>
						</tr>
					<%end%>
				</table>
			<%else%>
					<h4> No Vendors Present.</h4>
			<%end%>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default model_cancel_button" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>