<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Pool Data Edit</h4>
    </div>
    <div class="modal-body">
      <%=form_tag(pool_data_update_spa_pooles_path,:id=>"pool-data-edit") do %>

      <div class="row">
        <div class="span3 no-margin">
          <h6>Type:</h6>
           <input type="radio" name="pool_data[pool_type]" value="inground" <%= @pool_data.try(:pool_type) == "inground" ? "checked" : "false"%>>
           In Ground
           <input type="radio" name="pool_data[pool_type]" value="aboveground" <%= @pool_data.try(:pool_type) == "aboveground" ? "checked" : "false"%>>Above Ground
        </div>

        <div class="span6 no-margin">
          <h6>Shape:</h6>
          <input type="radio" name="pool_data[pool_shape]" id="edit-rect" value="rectangular" <%= @pool_data.try(:pool_shape) == "rectangular" ? "checked" : "false"%>>
          Rectangular
          <input type="radio" name="pool_data[pool_shape]" id="edit-round" value="round" <%= @pool_data.try(:pool_shape) == "round" ? "checked" : "false"%>> Round
          <input type="radio" name="pool_data[pool_shape]" id="edit-oval" value="oval" <%= @pool_data.try(:pool_shape) == "oval" ? "checked" : "false"%>> Oval
          <input type="radio" name="pool_data[pool_shape]" id="edit-kidney" value="kidney" <%= @pool_data.try(:pool_shape) == "kidney" ? "checked" : "false"%>> Kidney
        </div>
      </div>
      <div class="row edit-volume shape-volume-edit">
        <h6>Size </h6>
        <div class="depth">
          <label>Depth1</label>
          <%= text_field_tag "pool_data[depth]",nil,:value=>@pool_data.try(:depth)%>
        </div>

        <div class="depth2">
          <label>Depth2</label>
          <%= text_field_tag "pool_data[depth2]",nil,:value=>@pool_data.try(:depth2)%>
        </div>

        <%if @pool_data.try(:pool_shape) != "round"%>
          <div class="length">
            <label>Length</label>
            <%= text_field_tag "pool_data[length]",nil,:value=>@pool_data.try(:length)%>
          </div>

          <div class="width">
            <label>Width</label>
            <%= text_field_tag "pool_data[width",nil,:value=>@pool_data.try(:width)%>
          </div>
          <%if @pool_data.try(:pool_shape) == "kidney"%>
            <div class="width2">
              <label>Width2</label>
              <%= text_field_tag "pool_data[width2]",nil,:value=>@pool_data.try(:width2)%>
            </div>
          <%end%>  
        <%else%>
          <div class="diameter">
            <label>Diameter</label>
            <%= text_field_tag "pool_data[diameter]",nil,:value=>@pool_data.try(:diameter)%>
          </div>
        <%end%>
        <label>Gallonage:</label>
        <%= text_field_tag "pool_data[pool_gallonage]",nil,:value=>@pool_data.try(:pool_gallonage)%>
      </div>

      <div class="row">
        <h6>Equipment </h6><h6>pump/pumps</h6> <label>Brand:</label>
        <%= text_field_tag  "pool_data[equip_pump_brand]",nil,:value=>@pool_data.try(:equip_pump_brand)%>
        <label>Model:</label>
        <%= text_field_tag  "pool_data[equip_model]",nil,:value=>@pool_data.try(:equip_model)%>
      </div>

      <div class="row">
        <label>Horsepower:</label>
        <%= text_field_tag  "pool_data[equip_horsepower]",nil,:value=>@pool_data.try(:equip_horsepower)%>
        <label>Service Factor:</label>
        <%= text_field_tag  "pool_data[equip_service_factor]",nil,:value=>@pool_data.try(:equip_service_factor)%>
        <label>Voltage/Amperage</label>
        <%= text_field_tag  "pool_data[equip_voltage]",nil,:value=>@pool_data.try(:equip_voltage)%>
      </div>

      <div class="row">
        <h6>Filter</h6>
        <label>Brand:</label>
        <%= text_field_tag  "pool_data[filter_brand]",nil,:value=>@pool_data.try(:filter_brand)%>
        <label>Model:</label>
        <%= text_field_tag  "pool_data[filter_model]",nil,:value=>@pool_data.try(:filter_model)%>
        <label>Type:</label>
        <input type="radio" name="pool_data[filter_type]" value="cartridge" <%= @pool_data.try(:filter_type) == "cartridge" ? "checked" : "false"%>>
          Cartridge
        <input type="radio" name="pool_data[filter_type]" value="sand" <%= @pool_data.try(:filter_type) == "sand" ? "checked" : "false"%>> Sand
        <input type="radio" name="pool_data[filter_type]" value="de" <%= @pool_data.try(:filter_type) == "de" ? "checked" : "false"%>> DE
      </div>

      <div class="row">
        <h6>Filter Cartridge:</h6>
        <%= text_field_tag "pool_data[filter_cartridge]",nil,:value=>@pool_data.try(:filter_cartridge)%>
        <label>Date replaced:</label>
        <%= text_field_tag "pool_data[filter_date_replaced]",nil,:value=>@pool_data.try(:filter_date_replaced)%>
      </div>

      <div class="row">
       <h6>Filter DE:</h6> <label>Replacement Grid part #:</label>
        <%= text_field_tag "pool_data[filter_de]",nil,:value=>@pool_data.try(:filter_de)%>
      </div>

      <div class="row">
        <h6>Heater:</h6>
        <label>Brand:</label>
        <%= text_field_tag "pool_data[heater_brand]",nil,:value=>@pool_data.try(:heater_brand)%>
        <label>Model:</label>
        <%= text_field_tag "pool_data[heater_model]",nil,:value=>@pool_data.try(:heater_model)%>
      </div>

      <div class="row">
        <label>Size:</label>
        <%= text_field_tag "pool_data[heater_size]",nil,:value=>@pool_data.try(:heater_size)%>
        <label>Heater Type:</label>
        <input type="radio" name="pool_data[heater_type]" value="electrical" <%= @pool_data.try(:heater_type) == "electrical" ? "checked" : "false"%>>
          Electrical
        <input type="radio" name="pool_data[heater_type]" value="natural_gas" <%= @pool_data.try(:heater_type) == "natural_gas" ? "checked" : "false"%>>
          Natural Gas
        <input type="radio" name="pool_data[heater_type]" value="oil" <%= @pool_data.try(:heater_type) == "oil" ? "checked" : "false"%>>
          Oil
        <input type="radio" name="pool_data[heater_type]" value="solar" <%= @pool_data.try(:heater_type) == "solar" ? "checked" : "false"%>>
          Solar
      </div>
      <div class="row">
        <h6>Time Clock:</h6>
        <label>Brand:</label>
        <%= text_field_tag "pool_data[time_clock_brand]",nil,:value=>@pool_data.try(:time_clock_brand)%>
        <label>Model:</label>
        <%= text_field_tag "pool_data[time_clock_model]",nil,:value=>@pool_data.try(:time_clock_model)%>
        <label>Voltage:</label>
        <%= text_field_tag "pool_data[time_clock_voltage]",nil,:value=>@pool_data.try(:time_clock_voltage)%>
      </div>
      <%= hidden_field_tag :property_id ,nil,:value=>@pool_data.property_id%>
      <%= hidden_field_tag :pool_id ,nil,:value=>@pool_data.id%>
      <%= submit_tag "submit",:class=>"update_button_setting",:style=>"  float: right"%>
      <button type="button" class="model_cancel_button" data-dismiss="modal">Close</button>
     <%end%>
    </div>

    <div class="modal-footer">
    </div>
  </div>
</div>

<script type="text/javascript">
 $("body").on("submit","#pool-data-edit",function(){
    var depth   = $("#pool_data_depth").val();
    var depth2  = $("#pool_data_depth2").val();
    var length  = $("#pool_data_length").val();
    var width   = $("#pool_data_width").val();
    var width2  = $("#pool_data_width2").val();
    var diameter= $("#pool_data_diameter").val();
    var pool_shape  = $("input[name='pool_data[pool_shape]']:checked").val();
    var property_id = $("#property_id").val();
    var param = 'depth=' + depth + '&depth2=' + depth2+ '&length=' + length+ '&width=' + width+ '&width2=' + width2+ '&diameter=' + diameter +'&property_id=' + property_id + '&pool_shape=' + pool_shape;
    $.ajax({
          type: "POST",
        url: "/spa_pooles/calculate_gallonage",
        data: param
      })
  })

  $("body").on("change","#edit-rect,#edit-round,#edit-oval,#edit-kidney",function(){
    var param = 'shape=' + $("input[name='pool_data[pool_shape]']:checked").val();
      $.ajax({
        type: "POST",
      url: "/spa_pooles/pool_shape_change",
      data: param
    })
  })
</script>