<div class="invoice-index vehicle-table">
  <div class="col-md-10 col-md-offset-1">
    <div id="head">
      <div class="hide_for_print" id="controls">  <%= link_to '+ New Service reminder', new_service_reminder_path, remote: true, 'data-toggle' =>  "modal", 'data-target' => '#service_reminder', class: "button_new_create save-new-btn1",:style=>"float:right;" %>
      </div>
      <h1 class="title1-font">Service Reminders</h1>
    </div>
<table>
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>Service task & Schedule</th>
      <th>Next Due</th>
      <!-- <th>Meter interval</th> -->
      <!-- <th>Time interval</th> -->
      <!-- <th>Time duration</th> -->
      <!-- <th>Meter threshold</th> -->
      <!-- <th>Time threshold</th> -->
      <!-- <th>Threshold duration</th> -->
      <!-- <th>Email notification</th> -->
      <th>Subscribers</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_reminders.each do |service_reminder| %>
      <tr>
        <td><%= service_reminder.vehicle_name %></td>
        <td><%= service_reminder.service_task %></td>
        <td></td>
        <%service_remender = service_reminder.subscribed_user %>
        <td><%service_remender.each do |service_remenders|%>
        <%=user_name = User.find(service_remenders).username%>
        <%end%></td>
        <!-- <td><%#= service_reminder.meter_interval %></td> -->
        <!-- <td><%#= service_reminder.time_interval %></td> -->
       <!--  <td><%#= service_reminder.time_duration %></td>
        <td><%#= service_reminder.meter_threshold %></td>
        <td><%#= service_reminder.time_threshold %></td>
        <td><%#= service_reminder.threshold_duration %></td> -->
        <!-- <td><%#= service_reminder.email_notification %></td> -->
        <!-- <td><%#= link_to 'Show', service_reminder %></td>
        <td><%#= link_to 'Edit', edit_service_reminder_path(service_reminder) %></td>
        <td><%#= link_to 'Destroy', service_reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        <td>
          <ul class="list-inline action-icon">
          <!-- <li>
            <a href="/service_reminders/<%#= service_reminder.id %>">
              <i class="fa fa-eye"></i></a>
            </li> -->
            <li>
              <%= link_to "",edit_service_reminder_path(service_reminder),:id=>"service_reminder_#{service_reminder.id}" ,:class=>"fa fa-pencil" ,data: {toggle: "modal", target: "#service_reminder"},:remote=>true%>
              <!-- <a href="/service_reminders/<%= service_reminder.id %>/edit">
              <i class="fa icon-pencil"></i></a> -->
            </li>
            <!-- <li>
              <a href="/service_reminders/<%#= service_reminder.id %>" data-method="delete" data-confirm="Are you sure?">
              <i class="fa fa-minus-circle"></i></a>
              <%#= link_to '', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %>
            </li> -->
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>
<%#= link_to 'New Service reminder', new_service_reminder_path , :class=>"button_new_create client_create pull-right"%>
<!-- Modal -->
<div class="modal fade" id="service_reminder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" data-backdrop="static" data-keyboard="false"></div>