<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header new-modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" style="margin-right: 0px!important;">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">New Fuel</h4>
    </div>
    <div class="modal-body">
      <div class="">
        <div class="">
          <%= form_for(@fuel) do |f| %>
            <% if @fuel.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@fuel.errors.count, "error") %> prohibited this fuel from being saved:</h2>

                <ul>
                <% @fuel.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field ">
              <div class="col-md-3">
                <%= f.label :vehicle_id %></div>
              <div class="col-md-6 no-padding">  
                <%#= f.number_field :vehicle_id %>
                <%#= f.select(:vehicle_id, Vehicle.try(:all).collect {|u| [u.vehicle_name, u.id]},{})%>
                <%=f.select(:vehicle_id, current_user.vehicles.try(:all).collect {|u| [u.vehicle_name, u.id]},{})%>
              </div>
            </div>
            <div class="field ">
              <div class="col-md-3">
                <%= f.label :date %></div>
              <div class="col-md-6 no-padding">  
                <%= f.text_field :date %>
              </div>
            </div>
            <div class="clearfix"></div>
             <div class="field ">
              <div class="col-md-3">
                <%= f.label :odometer %></div>
              <div class="col-md-6 no-padding"> 
                <%= f.text_field :odometer %>
              </div>
            </div>
            <div class="field">
              <div class="col-md-3">
                <%= f.label :mark_as_void %></div>
              <div class="col-md-6 no-padding"> 
                <%= f.check_box :mark_as_void %>
              </div>
            </div>
             <div class="clearfix"></div>
            <div class="field ">
              <div class="col-md-3">
                <%= f.label :price %></div>
              <div class="col-md-6 no-padding"> 
                <%= f.text_field :price %>
            </div>
            </div>
            <div class="field ">
              <div class="col-md-3">
                <%= f.label :fuel_type %></div>
                <%#= f.text_field :fuel_type %>
              <div class="col-md-6 no-padding"> 
                <%= f.select :fuel_type, options_for_select([["Compressed Natural Gas (CNG)","Compressed Natural Gas (CNG)"],["Diesel","Diesel"],["Gasoline","Gasoline"],["Propane","Propane"]])%>
              </div>
            </div>
             <div class="clearfix"></div>
            <div class="field">
              <div class="col-md-3">
                <%= f.label :vandor_name %></div>
              <div class="col-md-6 no-padding"> 
                <%= f.text_field :vandor_name %>
              </div>
            </div>
            <div class="field ">
              <div class="col-md-3">
                <%= f.label :reference %></div>
              <div class="col-md-6 no-padding">
                <%= f.text_field :reference %>
              </div>
            </div>
             <div class="clearfix"></div>
            <div class="field ">
              <div class="col-md-3">
                <%= f.label :mark_as_expense %></div>
              <div class="col-md-6 no-padding"> 
                <%= f.check_box :mark_as_expense %>
              </div>
            </div>
            <div class="field ">
              <div class="col-md-3">
                <%= f.label :partial_fuel_up %></div>
              <div class="col-md-6 no-padding"> 
                <%= f.check_box :partial_fuel_up %>
              </div>
            </div>
             <div class="clearfix"></div>
            <div class="field ">
              <div class="col-md-3">
                <%= f.label :comment %></div>
              <div class="col-md-6 no-padding"> 
                <%= f.text_area :comment %>
              </div>
            </div>
            <div class="actions">
              <% if params[:action] == "edit" %>
                <%= link_to "Delete Fuel", fuel_path(@fuel), method: "delete", class: "button remove delete_expense pull-left" %>
              <% end %>
              <%= f.submit "SAVE", class: "model_save_button pull-right save-new-btn1"%>
              <button type="button" class="model_cancel_button" data-dismiss="modal">CANCEL</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .button.remove {
    padding: 7px;
    margin-right: 13px;
  }
</style>